<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_review.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <title>CUBR</title>

  <style>
#query_error {
    display:none;
    text-align:center;
  }
  
  {% if query_error_message %}
  #query_error{
    display:block;
    justify-content: center;
    background-color: #ffcccc;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ff0000;
    max-width: 750px; 
    width: 90%;
    margin: 0 auto;
  }
{% endif %}

#success_message {
    display:none;
    text-align:center;
  }
  
  {% if success_message %}
  #success_message{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #55e361;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #55e361;
    max-width: 750px; 
    width: 90%;
    margin: 0 auto;
  }
{% endif %}

  </style>

</head>

<body>

  <nav>
    <div id="left-menu-items">
    <a href="/">Home</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/find">Find</a>
    <a href="/reviews">Reviews</a>
    <a href="/random">I'm feeling lucky</a>
    </div>
    <a href="/logout" id="logout-menu-item"><div>{{logout_status}}</div></a>
  </nav>

  <div class="header">
    <h1>CUBR</h1>
    <img src="{{ url_for('static', filename='cubrlogo.png') }}" alt="logo">
  </div>

  <div id="addTitle"><h2>Add Review:</h2></div>

  <form method="POST" action="/add_review_query">
    <div id="row1">
      <!-- BUILDING DROPDOWN -->
      <label for="building">Select a building:</label>
      <select name="building" id="building" required>
        <option value="" selected disabled></option>
        {% for option in building_options %}
          <option value="{{option[0]}}">{{option[1]}}</option>
        {% endfor %}
      </select>
  
      <!-- FLOOR DROPDOWN -->
      <label for="floor">Floor:</label>
      <select name="floor" id="floor" required>
        <option value="" selected disabled></option>
        {% for option in floor_options %}
        <option value="{{option}}">{{option}}</option>
        {% endfor %}
      </select>
  
      <!-- BR DROPDOWN -->
      <label for="bathroom">Bathroom:</label>
      <select name="bathroom" id="bathroom" required>
        {% for option in bathroom_options %}
        <option value="{{option}}">{{option}}</option>
        {% endfor %}
      </select>
    </div>
    <div id="row1">
      <!-- BODY-->
      <label for="body">Review:</label>
      <input type="text" id="body" name="body" style="width: 315px">

      <!-- RATING DROPDOWN-->
      <label for="rating">Rating:</label>
      <select name="rating" id="rating" required>
        <option value="" selected disabled></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <input id="submit-button" type="submit" value="Post Review">
    <h3 style="margin-top: 40px">Don't See What You're Looking For? <a href="\add">Add it first!</a></h3>
  </form>

  <div id="query_error">
    <div>{{query_error_message}}</div>
    <div id="clear_error"><a href="\clear_add_error">Clear Error</a></div>
</div>

  <div id="success_message">{{success_message}}</div>
  
  <script>
    const buildingDropdown = document.getElementById('building');
    const floorDropdown = document.getElementById('floor');
    const bathroomDropdown = document.getElementById('bathroom');
  
    buildingDropdown.addEventListener('change', () => {
      const selectedBuilding = buildingDropdown.value;
      fetch(`/get_floor_dropdown/${selectedBuilding}`)
        .then(response => response.json())
        .then(options => {
          // Clear current options
          floorDropdown.innerHTML = '';

          // Add blank option
          const blankOption = document.createElement('option');
          blankOption.value = 'NULL';
          blankOption.innerText = '';
          blankOption.disabled = true;
          blankOption.selected = true;
          floorDropdown.appendChild(blankOption);
  
          // Add new options
          options.forEach(option => {
            const newOption = document.createElement('option');
            newOption.value = option;
            newOption.innerText = option;
            floorDropdown.appendChild(newOption);
          });
        });
    });

    floorDropdown.addEventListener('change', () => {
      const selectedBuilding = buildingDropdown.value;
      const selectedFloor = floorDropdown.value; 
      fetch(`/get_br_dropdown/${selectedBuilding}/${selectedFloor}`)
        .then(response => response.json())
        .then(options => {
          // Clear current options
          bathroomDropdown.innerHTML = '';

          // Add blank option
          const blankOption = document.createElement('option');
          blankOption.value = 'NULL';
          blankOption.innerText = '';
          blankOption.disabled = true;
          blankOption.selected = true;
          bathroomDropdown.appendChild(blankOption);
  
          // Add new options
          options.forEach(option => {
            const newOption = document.createElement('option');
            newOption.value = option.id;
            newOption.innerText = option.label;
            bathroomDropdown.appendChild(newOption);
          });

        });
    });
  </script>



</body>
</html>
